# Dependencies
node_modules/
**/node_modules/

# Package lock files  
package-lock.json
**/package-lock.json
yarn.lock
**/yarn.lock
pnpm-lock.yaml
**/pnpm-lock.yaml

# Environment variable files
# These files contain secrets and should not be committed!
*/.env
*/.env.local

# Editor and OS specific files
.vscode
.idea
.DS_Store